# Android / Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio
.idea/
*.iml

# OS / misc
.DS_Store
Thumbs.db

# Signing / secrets
*.jks
*.keystore
keystore.properties

# Native build intermediates
.cxx/
.externalNativeBuild/

app/src/main/python/assets/kugou_key.xz
gradle/wrapper/gradle-wrapper.jar
